.concert-content {
  margin: 10px;
}

.concert-img {
  transition: all ease 0.2s;
}

.concert-img:hover {
  transform: scale(1.1);
}

#concert-content-title {
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  width: 26.875rem;
}

#concert-content-day {
  margin-top: 0;
}
