.concert-content {
  margin: 0;
  height: 50%;
  width: 500px;
}

.concert-img {
  transition: all ease 0.2s;
}

.concert-img:hover {
  transform: scale(1.1);
}

#concert-content-title {
  padding-top: 1rem;
}

#concert-content-day {
  margin-top: 0;
}
