.react-datepicker {
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  display: inline-block;
  position: relative;
}
.react-datepicker > * {
  font-family: "SUITE-Variable";
}
.react-datepicker__month > * {
  font-size: 1.125rem;
}
.custom-datepicker {
  /* input css라 없어도 됨 */
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.25rem;
  background-color: Black;
  box-sizing: border-box;
  width: 100%;
  height: 2.875rem;
  color: #fff;
  text-align: center;
  padding-right: 0.875rem;
}
.custom-datepicker:focus {
  border: 2px solid orange;
}
.custom-date-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0 0.75rem 0 1.25rem;
}
.custom-month {
  background-color: white;
  color: black;
  border: none;
  font-size: 1.375rem;
  font-weight: 500;
  padding-right: 0.3125rem;
}
.custom-arrow {
  width: 2.125rem;
  padding: 0.3125rem;
  border: none;
  background-color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.react-datepicker__header {
  text-align: center;
  background-color: white;
  /* border-bottom: 1px solid #aeaeae; */
  border-top-left-radius: 0.3rem;
  padding: 0.5rem 0;
  position: relative;
}
.react-datepicker__day-names {
  margin-bottom: -0.5rem;
  /*  border-top: 1px solid #aeaeae; */
}
.react-datepicker__day-name {
  font-size: 0.8rem;
  color: grey;
}
.selected-day {
  background-color: orange;
  border-radius: 50%;
}
.selected-day:hover {
  border-radius: 50%;
  background-color: orange;
}
.unseleceted-day:hover {
  border-radius: 50%;
  background-color: #aeaeae;
}

.saturday {
  color: rgb(0, 0, 255) !important;
}

.sunday {
  color: rgb(255, 0, 0) !important;
}

.react-datepicker__day--disabled {
  color: #cccccc !important;
}
/* .react-datepicker__input-container::before {
  content: "\e99c";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 1rem;
  color: #333;
} */

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50%;
  background-color: #c27101;
}

.date-pick-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.right-pick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-top: -0.5rem;
}
.right-pick-container-text,
.right-pick-container-text-selected {
  font-family: "SUITE-Variable";
  font-size: 1.25rem;
  border: 1px solid #aeaeae;
  margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.right-pick-container-text-selected {
  border: 1px solid #c27101;
  color: white;
  background-color: #c27101;
}
.right-content-down-container {
  display: flex;
  flex-direction: column;
}
#reservation-button {
  font-size: 2.5rem;
  margin: 4rem;
  margin-top: 1rem;
}
