.detail-container-box {
  display: flex;
  justify-content: flex-start;
  margin: 3.8rem;
  margin-left: 10rem;
}

.left-content-box {
  float: left;
}

.left-content-box-image {
}

.right-content-box {
  margin-left: 3rem;
  margin-right: 6.3rem;
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.right-content-text-box * {
  line-height: 2.5rem;
  font-size: 1.25rem;
}

.right-ul-list {
  display: flex;
  margin-bottom: 0;
}

.no-dot {
  list-style-type: none;
  list-style: none;
}

.content-def-long {
  color: #333;
  font-weight: bold;
  padding-right: 3.125rem;
}

.content-def {
  color: #333;
  font-weight: bold;
  text-align: left;
  width: 7rem;
}

.detail-content-horz {
  border-bottom: 1px solid black;
  margin-left: 2rem;
  margin-right: 0rem;
}
