.home-nav {
  background: transparent;
  position: absolute;
}
.out-nav {
  position: static;
  background: linear-gradient(90deg, #ffffff, #f5cdbe);
  text-shadow: none !important;
}
#main-navbar {
  height: 40px;
  font-size: 20px;
  display: flex;
  text-decoration: none;
  flex-flow: row nowrap;
  justify-content: space-around;
  top: 0;
  width: 100%;
  z-index: 999999999;
  text-shadow: -1px 0 #aeaeae, 0 1px #aeaeae, 1px 0 #aeaeae, 0 -1px #aeaeae;
}

#main-navbar:hover {
  background-color: white;
  transition: 0.2s background-color linear;
}

#navbar-active {
  position: fixed;
  background: linear-gradient(90deg, #ffffff, #f5cdbe);
}

#navbar-contents:hover {
  color: blue;
}
