.payment-box {
  margin-top: 3rem;
}

.check-img {
  width: 8rem;
  height: auto;
}
.payment-alert-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alert-say-thx {
  font-family: "SUITE-Variable";
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.alert-pay-done {
  font-family: "SUITE-Variable";
  font-size: 2rem;
}

.payment-summary {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.payment-summary > * {
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.2rem;
}
.payment-little-title {
  text-align: start;
  margin-top: 1rem;
  margin-left: 10rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
}
.payment-table-body {
  display: flex;
  flex-direction: column;
}
.payment-content-1,
.payment-content-2 {
  display: flex;
}
.payment-content-1 {
  border: 1px solid #dddddd;
}
.payment-content-2 {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  background-color: #cccccc;
}
.payment-table-content-left {
  flex: 20%;
  border-right: 1px solid #dddddd;
  padding: 2rem;
}
.payment-table-content-right {
  flex: 80%;
  display: flex;
  justify-content: left;
  padding: 2rem;
}

.payment-button {
  display: flex;
  justify-content: center;
}
#payment-button-two {
  font-size: 2.5rem;
  margin: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
